@model AddNoteViewModel

@{
   ViewData["Title"] = "Add Note";
}

<div class="container mt-5">
   <div class="card">
      <div class="text-center text-primary h4 my-3">
         <i class="fas fa-file mr-2"></i>
         New Note
      </div>
      <div class="card-body">
         <form asp-controller="Notes" asp-action="AddNote" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- TITLE -->
            <div class="form-group">
               <label asp-for="Title">Title</label>
               <input asp-for="Title" type="text" name="Title" class="form-control" placeholder="Enter title here">
               <div>
                  <span asp-validation-for="Title" class="text-danger small"></span>
               </div>
            </div>
            <!-- DESCRIPTION -->
            <div class="form-group">
               <label asp-for="Description">Description</label>
               <textarea asp-for="Description" name="Description" class="form-control" placeholder="Enter description here" rows="10"></textarea>
               <div>
                  <span asp-validation-for="Description" class="text-danger small"></span>
               </div>
            </div>
            <!-- TAGS -->
            <div class="form-group">
               <label asp-for="Tags">Tags</label>
               <input asp-for="Tags" type="text" name="Tags" class="form-control" placeholder="Enter comma separated list of tags here" rows="10">
               <div>
                  <span asp-validation-for="Tags" class="text-danger small"></span>
               </div>
            </div>
            <!-- BUTTON PANEL -->
            <div class="form-group">
               <div class="text-right">
                  <button type="submit" class="btn btn-primary">
                     <i class="far fa-save mr-2"></i>
                     SAVE
                  </button>
                  <a asp-controller="Notes" asp-action="Index" class="btn btn-secondary ml-2">
                     <i class="fas fa-ban mr-2"></i>
                     CANCEL
                  </a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}