@{
   Layout = "_ErrorLayout";
   ViewData["Title"] = "Error";
}

<div class="text-center my-5">
   <div class="display-4 my-5 text-danger">Something went wrong</div>
   <p class="lead">
      An unexpected error ocurred. Go home by <a asp-controller="Home" asp-action="Index" class="text-primary">clicking here</a>
   </p>
</div>